<style type="text/css">

	body{
		background-color: #FFFFFF !important;
		font-family: 'Montserrat', 'sans-serif' !important;
	}

	.btn_begin{
		margin-top: 2% !important;
		background-color: #FFFFFF;
		color: #9b5b8f;
		border: #9b5b8f 4px solid; 
		padding: 0.8em 1.6em;
		border-radius: 10px;
		font-size: 21px;
		font-weight: bold;
	}

	.btn_begin:hover{
		color: #9b5b8f;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

	.btn_start{
		color: #FFFFFF !important;
		padding: 1em 2em;
		text-decoration: none;
		font-weight: 600;
		font-size: 0.75em;
		background-color: #9b5b8f !important;
		border: none !important;
		background-position: center;
		transition: background 0.8s;
	}

	.btn_start:hover{
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}

	.clever_title{
		font-weight: 900 !important; 
		font-size: 1.5em !important;
		letter-spacing: -0.06em !important; 
		margin-bottom: 2% !important;
		text-align: center;
	}

	.clever_subtitle{
		font-weight: 200 !important;
		line-height: 1.6 !important;
		font-size: 1em !important;
		text-align: justify !important;
		letter-spacing: -0.05em !important; 
	}

	.clever_little_text{
		margin-bottom: 4em;
		font-size: 0.75em !important;
	}

	@media only screen and (max-width: 992px){
		#first_img{
			display: none;
		}
	}

	@media only screen and (max-width: 768px){
		#reverse{
			flex-direction: column-reverse !important;
		}

		#second_img{
			width: 80%;
		}
	}
</style>